body{
    text-align: center;
}
form{
    font-size: 15px; font-weight:bold;
}
#pic
{
    font-size: 20px; font-weight: bold;
}
#img{font-size: 20px;font-weight: bold; background-color: rgb(226, 226, 226);
}
#little{
    font-size: 14px; font-weight: normal;
}